<!DOCTYPE html>
<html>
<head>
  <title>Index Page</title>
</head>
<body>
  <h1>Welcome to the Index Page</h1>
  
  <% @friends.each do |friend| %>
    <div>
      <h2><%= friend.name %></h2>
      <p><%= friend.age %> years old</p>
    </div>
  <% end %>
  
</body>
</html>
